body {
    color:black;
    font-size:12pt;
}

h1 {
    color:#000;
    font-size:32pt;
}

p {
    color:green;
    margin:10px;
}

a {
    color:gray;
}

li{
    margin: 0 0 10px 0;
}

.title{
    margin: 0 0 10px 0;
}