{% extends "onlineschool/base.html" %}
{% block body %}
<h1>{{title}}</h1>
<div class="table-responsive">
  <table class="table table-hover table-condensed table-bordered table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>名前</th>
      <th>性別</th>
      <th>年齢</th>
      <th> </th>
    </tr>
    </thead>
    <tbody>
      {% for user in users %}
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.sex }}</td>
      <td>{{ user.age }}</td>
      <td>
        <a href="{% url 'onlineschool:user_edit' user_id=user.id %}">編集</a>
        <a href="{% url 'onlineschool:user_delete' user_id=user.id %}">削除</a>
      </td>
    </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<a href="{% url 'onlineschool:index' %}"><button class="add-button">トップに戻る</button></a>
<a href="{% url 'onlineschool:user_form' %}"><button class="add-button">新規追加</button></a>
{% endblock %}
